<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <h1><%= title %></h1>
    
    <% messages.forEach(message => { %>
        <div class="message">
            <p><span class="user"><%= message.user %>:</span> <%= message.text %></p>
            <p class="date">Added on: <%= message.added.toLocaleString() %></p>
        </div>
    <% }); %>

    <a href="/new" class="new-message-link">Add a new message</a>
</body>
</html>